.page-1-top {
    margin: 0;
    background-color: darkblue;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 30px;
  }
  
  .row {
    text-align: center;
  }
  
  .column {
    flex: auto;
    max-width: 20%;
  }
  
  nav {
    background-color: darkblue;
    position: absolute;
    top: 20px;
    left: 480px;
    height: 50px; 
    width: 60vw;  
    } 
  
  nav ul li{
    float: right; 
    margin-right: 52px;
    list-style-type: none; 
  }
   
  #open {
    border: 5px solid black;
    background-color: red;
    z-index: 1;
  }
  
  .nav-link {
    color: darkgrey;
    text-decoration: none;
    font-family: 'Acme';     sans-serif:
  }  
   
  .nav-link:hover {
    color: green;
    font-weight: 900;
    }
   
  .button-1 {
    border: none;
    color: white;
    background-color: orange;
    padding: 15px 40px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  
  .image{
    height: 340px;
    width: 650px;
    background-size: cover;
    text-align: center;
    margin-top: 20px;
    /* margin-bottom: 1px; */
    margin-left: 290px;
    }
  
  #laptopImage{
    background-image: url('https://kastapp.co/images/laptop-large-p-1600.png');
}
   
  .grid-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
    background-color: white;
  }
     
  .grid-item-1 {
    grid-column: 1 / 6;
    text-align: center;
    background-color: white
    }  
    
  .grid-item-2 {
    padding: 10px;
    font-size: 30px; 
    text-align: center; 
    background-color: white;
  }
    
  .grid-item-3 {
    grid-column: 1 / 6;
    text-align: center;
    background-color: white
  }
  
  .grid-item-4 {
    grid-column: 4 / 5;
    text-align: center;
    background-color: white
  }
  
  #kast-tv {
    text-align: center;
    background-color: lightskyblue; 
  }

  .main-container {
    padding-top: 30px;
  } 

  .text-1 {
    font-size: 180%;
  }

  .button-2 {
    border: none;
    color: white;
    background-color: orange;
    /* padding: 5px 40px; */ 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    width: 200px;
    height: 30px;
  }
  
  